[user]
	email = 51301343+stonespren@users.noreply.github.com
	name = stonespren
[init]
	defaultBranch = main
[core]
	editor = nvim
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[core]
	pager = delta --line-numbers --dark
[alias]
	undo = reset --soft HEAD^
